body {
    width: 65%; /* Adjusts the width of the body */
    font-family: 'Poppins', sans-serif;
    margin: 0 auto; /* Centers the body horizontally */
    padding: 0;
    box-sizing: border-box;
    font-size: medium;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff; /* Background color of header */
}

.contactos {
    display: flex;
    align-items: center;
}

.contactos ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Spacing between items */
}
.contactos a {
    text-decoration: none;
    color: black;
}
.header-right {
    display: flex;
    align-items: center;
    margin-left:850px; /* Pushes this section to the right */
}

.header-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Spacing between items */
}
.h3 img{
    width: 120px;
    height: 120px;
}
.navbar-nav .nav-link {
    font-size: medium; /* Adjust size as needed */
}
.menu-brands.menu-col {
    padding-top: 2rem;
    margin-top: 0 !important;
    border-top: .1rem solid #ebebeb
}

.menu-brands .brand {
    display: flex !important
}

.menu-brands .col,.menu-brands [class*=col-] {
    display: flex;
    align-items: center;
    justify-content: center
}


